<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excerise</title>
</head>

<p>Welcome.</p>

<p>
    Check out 
    <a href='/dog'>dog</a>
    and
    <a href='/me'>me</a> </p>
</p>

{{if .}}
    <p>Landed at {{.}}</p>
{{end}}

</html>